.ui-grid-span .ui-block-a { width: 90%; }
.ui-grid-span .ui-block-b { width: 10%; }

.center { margin: 0 auto; }

.right { text-align: right; }

.circle-btn {
    width:          150px !important;
    height:         150px !important;
    border-radius:  50% !important;
    line-height:    150px;
}

.font-big { font-size: 18px; }

/*Input validation*/
input:focus:invalid {
    border:1px solid red;
}
/*input:required:valid {
    border:1px solid green;
}*/
