<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ch.unifr.nte.bibup"
        versionCode = "2"
        version     = "2.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>BibUp</name>

    <description>
        BibUp allows you to easily create bibliographic references by scanning books barcodes and extracts of text. The references, including the OCRed text, can be viewed on a web page and collected using the Zotero plugin for Firefox.
        Note: the low quality of the camera doesn't allow neither for an efficient book barcode scan, nor for a correct OCRed text.
    </description>

    <author href="https://nte.unifr.ch" email="nte@unifr.ch">
        Centre NTE, Université de Fribourg.
    </author>

    <content src="index_v2.html" />

    <icon src="res/icon.png" />

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#24ace7" /> <!-- only if StatusBarOverlaysWebView is false -->
    <preference name="StatusBarStyle" value="lightcontent" /> <!-- default, lightcontent, blacktranslucent, blackopaque -->


    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.statusbar" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.network-information" />

    <access origin="*" />
    <access origin="mailto:*" launch-external="yes"/>
    <access origin="tel:*" launch-external="yes"/>
</widget>
